* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-image: url("https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    ;

}
.header-principal{
   
    width: 100%;
    min-width: 30%;
    height: 50px;
    min-height: 10%;
    background-color: blueviolet;
    border:5px solid blue;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.header-principal ul{
    list-style-type: none;
    margin: 0;
    padding: 0 ;
    overflow: hidden;
    text-align: center;
    margin: 6px   2px;
    

  }
  
  li {
    float: left;
    
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom:5px solid cadetblue;
    background-color: blueviolet;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color:cadetblue;
    
  }
  
  li.dropdown {
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color:whi;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  li.right {
    float: right;
  }

@media screen and (min-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
  .header-principal{height: auto;}
}
main{
    
    width: 100%;
    max-width: 1000px;
    min-width: 10%;
    height: auto;
    margin:auto;
    margin-top: 100px;
    min-height: 20%;
    border:5px solid blueviolet;
    border-radius: 5px; 
    float: center;

}
.row {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 10px;;
    margin-right: 5px;
    margin-left: 5px;
    float: center;
}
col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto
{
    position: static;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
*, ::before, ::after {
    box-sizing: border-box;
}
.soportes {
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border: #40a5c180 solid 1px;
    border-radius: 5px; 
    display: -webkit-box; 
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    text-align: center; 
    padding: 15px;
     }
     @media only screen and (max-width: 300px) {
		.header-principal,.prev, .next,.text {font-size: 11px}
    }
    
    /*contactanos.html(formulario)*/
    .form-register {
      width: 400px;
      background: #24303c;
      padding: 30px;
      margin: auto;
      margin-top: 100px;
      border-radius: 4px;
      font-family: 'calibri';
      color: white;
      box-shadow: 7px 13px 37px #000;
    }
    
    .form-register h4 {
      font-size: 22px;
      margin-bottom: 20px;
    }
    
    .controls {
      width: 100%;
      background: #24303c;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 16px;
      border: 1px solid #1f53c5;
      font-family: 'calibri';
      font-size: 18px;
      color: white;
    }
    
    .form-register p {
      height: 40px;
      text-align: center;
      font-size: 18px;
      line-height: 40px;
    }
    
    .form-register a {
      color: white;
      text-decoration: none;
    }
    
    .form-register a:hover {
      color: white;
      text-decoration: underline;
    }
    
    .form-register .botons {
      width: 100%;
      background: #1f53c5;
      border: none;
      padding: 12px;
      color: white;
      margin: 16px 0;
      font-size: 16px;
    }

