* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-image: url("https://images.pexels.com/photos/4711996/pexels-photo-4711996.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    ;

}
.header-principal{
   
    width: 100%;
    min-width: 30%;
    height: 80px;
    min-height: 10%;
    border:5px solid blueviolet;
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin: 0 ;
}
.header .ul{
    
    
    float: right ;
    margin-right: 20px;
    

}
li{
    list-style: none;
    float: left;
    color:black;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
	justify-content: space-between;
    
}

}
 a {
    color:blueviolet;
    padding: 10px;
    justify-content: space-between;
    
	
}

li:hover {
	background:grey;
	border-bottom: inset 5px solid #fff;
	justify-content: space-between;

}

a:hover {
	color:#fff;
}
main{

    width: 90%;
    max-width: 1000px;
    min-width: 30%;
    height: auto;
    margin:auto;
    min-height: 20%;
    border:5px solid blueviolet;
    border-radius: 5px; 
    float: center;

}
.row {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    float: center;
}
col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto
{
    position: static;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
*, ::before, ::after {
    box-sizing: border-box;
}
.soportes {
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border: #40a5c180 solid 1px;
    border-radius: 5px; 
    display: -webkit-box; 
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    text-align: center; 
    padding: 15px;
     }
     @media only screen and (max-width: 300px) {
		.header-principal,.prev, .next,.text {font-size: 11px}
	  }

